extends layout.jade

block content
    .row-fluid.marketing
        .span12
            h4 #{content.title}
            p #{content.body}
    hr
    h5 Published Pages

    for page in published_pages
        a(href="#{config.site_host}/#{page.uri}") #{page.title}
